@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600&display=swap');

body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 20px;
    text-align: center;
    background-color: #121212; /* Dark background */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #0F0; /* Bright green text */
}

#exerciseText, #userInput, #results, #attemptDetails, table {
    max-width: 800px;
    width: 90%;
    margin: 10px auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
}

#exerciseText {
    margin-bottom: 20px;
    background-color: #1C1C1C; /* Darker element backgrounds */
    padding: 20px;
    font-size: 24px;
    text-align: left;
    border: none;
    color: #0F0; /* Bright text */
}

#userInput {
    padding: 15px;
    margin-bottom: 20px;
    border: 2px solid #4CAF50;
    font-size: 20px;
    border-radius: 4px;
    background-color: #1C1C1C; /* Darker element backgrounds */
    color: #0F0; /* Bright text */
}

#results {
    font-size: 20px;
    color: #2E7D32;
    font-weight: 600;
    background-color: #1C1C1C; /* Darker element backgrounds */
}

#restartButton, #wordsMode, #lettersMode,  #numbersMode{
    margin: 20px 0;
    padding: 15px 25px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s, transform 0.2s;
    background-color: #1C1C1C; /* Darker element backgrounds */
    border: 2px solid #0F0; /* Bright borders */
}

#restartButton:hover , #wordsMode:hover, #lettersMode:hover, #numbersMode:hover {
    background-color: #388E3C;
    transform: scale(1.05);
}

#userInput.error, #userInput.error-bg {
    border-color: #D32F2F !important;
    background-color: #3E0C0C; /* Dark red background for errors */
}

.mistake-highlight {  
    color: #D32F2F; /* Red highlights for mistakes */
    border-bottom: 2px solid #D32F2F;
}  

.feedback-panel {
    background-color: #ECEFF1;
    border-radius: 8px;
    padding: 10px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.progress-bar {
    height: 20px;
    background-color: #4caf50;
    border-radius: 5px;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    border: 1px solid #0F0; /* Bright borders */
    color: #0F0; /* Bright text */
}

th {
    background-color: #1C1C1C; /* Dark header backgrounds */
    color: #0F0; /* Bright text */
}

tr:nth-child(even) {
    background-color: #262626; /* Slightly lighter row background for contrast */
}

/* Responsive design for smaller screens */
@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    #exerciseText, #userInput, #results, #attemptDetails, table {
        width: 100%;
    }
}
