body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Improved font */
    margin: 0;
    padding: 20px;
    text-align: center;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#exerciseText, #userInput, #results, #attemptDetails, table {
    max-width: 800px; /* Responsive width */
    width: 90%; /* Responsive width */
    margin: 10px auto; /* Centered alignment */
}

#exerciseText {
    margin-bottom: 20px;
    border: 2px solid #ddd;
    padding: 20px;
    font-size: 22px; /* Larger font size */
    color: #333;
    background-color: #f9f9f9;
    text-align: left;
    border-radius: 10px; /* Rounded corners */
}

#userInput {
    padding: 15px;
    margin-bottom: 20px;
    border: 2px solid #ddd;
    font-size: 20px; /* Larger font size */
    border-radius: 4px;
}

#results {
    font-size: 20px; /* Larger font size */
    color: #006400;
    font-weight: bold; /* Bold font */
}

#restartButton {
    margin: 20px 0; /* Increased margin */
    padding: 12px 20px; /* Larger padding */
    font-size: 18px; /* Larger font size */
}

#attemptDetails {
    padding: 10px;
    border-radius: 10px; /* Rounded corners */
    background-color: #f9f9f9; /* Background color */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Box shadow for depth */
}

button {
    padding: 12px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px; /* Larger font size */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Box shadow for buttons */
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #45a049;
    transform: scale(1.1); /* Slightly larger scale */
}

#userInput.error, #userInput.error-bg {
    border-color: red !important;
}

#userInput.error-bg {
    background-color: #ffcccc; /* Light red background */
}

table {
    border-collapse: collapse;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Box shadow for table */
}

th, td {
    border: 1px solid #ddd;
    padding: 10px; /* Increased padding */
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
